* {
  margin: 0;
  padding: 0;
}


.heading-container {
  background-color: #589595;
  border: 5px solid #225762;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.heading-container h1 {
  color: white;
  font-size: 50px;
}


.choices {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 2.5rem;


}

.choice:hover {
  opacity: 0.5;
  cursor: pointer;

}

.choice {
  height: 150px;
  width: 150px;
  border-radius: 5rem;
  display: flex;

}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 5rem;
  margin-top: 3rem;

}

#user-score,
#comp-score {
  font-size: 5rem;
  font-weight: bold;
}

.score {
  text-align: center;
}

.msg-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

#msg{
color: white;
font-size: 2rem;
background-color:#589595;
padding: 1rem;
border-radius: 1rem;
border: 5px solid #225762;
}


.footer{
background-color:#589595;
margin-top: 3rem;
height: 6vh;
display: flex;
justify-content: center;
align-items: center;
border: 5px solid #225762;
border-radius: 0.5rem;

}

.footer p{
color: white;
}

